/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
	margin: 0;
    font-size: 10px;
    font-family: sans-serif,tahoma;
    line-height: 1.4;
}

#infoPanel{
    position :fixed;
    top :10px;
    width : 100%;
    text-align: center;
}

.panel{
    border: skyblue solid 5px;
    border-radius: 15px;
    background-color: aliceblue;

}

#fileForm{
     position :fixed;
     top :10px;
     left : 10px;

 }

#scenePanel{
    position :fixed;
    top :10px;
    right : 10px    ;

}

#actionPanel{
    position :fixed;
    bottom :10px;
    right : 10px;

}

#currentPanel{
    position :fixed;
    bottom :300px;
    left : 10px;

}

#materialPanel{
    position :fixed;
    bottom :10px;
    left : 10px;

}

input[type=text],
input[type=number] {
   width:50px;
}


